@charset "UTF8";

body,
html {
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-image: linear-gradient(#003d46, #04a6bb);
}


body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    flex: 1;
    box-shadow: inset 0px 0px 4px 0px #00000071;
    background-image: linear-gradient(to right, #04a6bb, #026c7a);

}

h1{
    margin: 10px 0px 0px 0px;
    padding: 0px;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
    
}

h2{
    font-size: 25px;
    text-align: center;
    margin: 0;
    background-color: #014e5883;
    color: #ffffff;
    padding: 2px;
}

p{
    text-align: center;
    text-shadow: 1px 1px 2px #015d6b;
    font-size: 18px;
    margin: 0px;
    padding-top: 0px 5px 5px 5px;
    color: #ffffff;
}

a{
    text-decoration: none;
}

footer{
    color: #eafdff;
    padding: 1px;
    text-align: center;
    background-image: linear-gradient(to right, #04a6bb, #04a6bb);
}


footer > p{
    font-size: 14px;
}

/*----------------header-----------*/

#burguer {
    display: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    background-color: #04a6bb;
    border: none;
    height: 38px;
    margin-top: 8px;
    border-radius: 5px;
    padding: 0px 30px;
    transition: all .5s;
}

#header-container {
    display: flex;
    justify-content: space-evenly;
    background-image: linear-gradient(to right, #0597ad, #03bcd46b);
    width: 100%;

}


#ul-filho-header {
    display: flex;
    list-style-type: none;
    gap: 50px;
    flex-wrap: wrap;
   
}

#ul-filho-header>li>a {
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    background-color: #015d6b;
    border-radius: 5px;
    padding: 8px;
    transition: all .5s;
}


#ul-filho-header2 > li > a > img {
    width: 30px;
    margin: 0px;
    filter: brightness(0) invert(1);
}

#ul-filho-header>li>a:hover {
    background-color: #014750;
}

#logo {
    display: flex;
    height: 51px;
    filter: drop-shadow(1px 1px 0px #00000081);
}

#logo>img {
    padding: 3px;
}

/*---------------------------------------------Main-------------------------------------------------------*/

#par_1{
    margin-bottom: 0px;
    padding: 0px;
}

.list_projetos{
    overflow: hidden;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    width: 98%;
    padding: 10px;
}

.list_projetos > a{
    display: block;
    flex: 0 0 270px;
    box-shadow: 1px 1px 5px 1px #000000b9;
    background-color: #037a8a;
    border-radius: 15px;
    margin: 10px;
    padding: 0px;
    height: 400px;
    overflow: hidden;
    animation: transicao 1s ease-in-out;
}

.img_projetos{
    width: 100%;
    height: 200px;
}

.tecnologias{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    
}

.tecnologias > p{
    display: inline;
    font-size: 12px;
    border: 1px solid rgba(255, 255, 255, 0.445);
    background-image: linear-gradient(45deg, #ffffff36, #ffffff1c,#ffffff42);
    padding: 1px;
    border-radius: 5px;
}

a:hover{
    transform: scale(1.08);
    transition: .3s;
}



/*animação da lista*/

@keyframes transicao {
    to{
        transform: translateX(0px)
    }
    from{
        transform: translateX(1000px)
    }
}