/*Query-Da-Pagina-Principal*/

/*telas 1921px pra cima */
@media (min-width: 1921px) {
    #header-container {
        height: 100px;
    }

    #logo>img {
        width: 110%;
        height: 180%;
    }

    #ul-filho-header li>a {
        text-align: center;
        font-size: 30px;
        width: 86vw;
        padding: 28px;
        line-height: 70px;
    }

    #apre-container {
        margin-left: 50px;
        gap: 200px;
        flex-wrap: nowrap;
    }

    #apre-filho {
        width: 50%;
    }

    #img-apre {
        width: 40%;
    }

    h1 {
        font-size: 4.4vw;
    }

    #apre-filho>p {
        line-height: 50px;
        padding: 20px;
        white-space: pre-line;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 2.0vw;
        text-align: justify;
    }

    #apre-span {
        font-size: 2.0vw;
    }

    #img-apre>img {
        width: 60%;
    }

    hr {
        width: 80%;
        height: 1%;
    }

    main {
        padding: 50px 0px 0px 0px;
    }

    footer {
        height: 100px;
    }

    footer>p {
        font-size: 1.4vw;
    }
}

/*telas de 1440px a 1920px*/
@media (min-width: 1440px) and (max-width: 1920px) {
    #header-container {
        height: 70px;
    }

    #logo>img {
        width: 100%;
        height: 130%;
    }

    #ul-filho-header li>a {
        text-align: center;
        font-size: 20px;
        width: 86vw;
        padding: 15px;
        line-height: 40px;
    }
   

    #apre-container {
        margin-left: 100px;
    }

    #apre-filho {
        width: 50%;
    }

    #img-apre {
        width: 40%;
    }

    h1 {
        font-size: 4.4vw;
    }

    #apre-filho>p {
        line-height: 40px;
        white-space: pre-line;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 1.5vw;
        text-align: justify;
    }

    #apre-span {
        font-size: 1.6vw;
    }

    #img-apre>img {
        width: 70%;
    }

    hr {
        width: 80%;
        height: 1%;
    }

    main {
        padding: 50px 0px 0px 0px;
    }

    footer {
        height: 70px;
    }

    footer>p {
        font-size: 1.2vw;
    }
}

/*telas até 972px*/
@media (max-width: 972px) {
    #apre-container{
        flex-wrap: wrap;
    }
    #apre-filho {
        order: 2;
        width: 93%;
    }

    #apre-span {
        font-size: 4vw;
    }

    #img-apre {
        display: flex;
        flex-direction: column;
    }

    #img-apre>img {
        width: 80%;
        margin: auto;
    }

    #apre-filho>p {
        font-size: 4vw;
    }

    hr {
        width: 80%;
        margin: auto;
        margin-top: 30px;
    }

    main {
        padding: 0px 20px 20px 20px;
    }
}


/*Forçar o display para o script sempre detectar mudança*/

@media (min-width: 710px) and (max-width: 971) {
    #burguer {
        display: none;
    }

    #filho1-header {
        display: block !important;
    }
}

/*telas até 710px*/

@media (max-width: 710px) {
    h1{
        font-size: 40px;
    }

    #apre-filho>p {
        font-size: 4vw;
    }

    #apre-span {
        font-size: 4vw;
    }

    #header-container {
        display: flex;
        flex-direction: column;
    }

    #filho1-header {
        display: none;
        height: 231px;
    }

    #logo>img {
        margin: auto;
        width: 200px;
    }

    #ul-filho-header {
        display: flex;
        gap: 0;
        padding: 0px;
        flex-direction: column;
        width: 100%;
    }

    #ul-filho-header li>a {
        display: block;
        text-align: center;
        font-size: 18px;
        margin: auto;
        width: 86vw;
        border-radius: 0px;
        padding: 15px;
        margin-bottom: 5px;
    }

    #burguer {
        display: block;
        border-radius: 0px;
        margin-top: 10px;
    }

    main {
        padding: 0px 20px 20px 20px;
    }
}