@charset "UTF8";

body,
html {
    height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-image: linear-gradient(#003d46, #04a6bb);
    /* background-image: url(../imagens/background-ciano.jpg);
     */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    flex: 1;
    box-shadow: inset 0px 0px 4px 0px #00000071;
    background-image: linear-gradient(#006a7a, #04a6bb);
}

hr {
    border-radius: 10px;
    width: 350px;
    padding: 3px;
    margin-left: -20px;
    background-image: linear-gradient(to right, orange, blue, yellow);
    border: none;
    animation: move 2s linear infinite;
    background-size: 200% 100%;
}

/*-----------------------------------------header-------------------------------------------*/

#burguer {
    display: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    background-color: #04a6bb;
    border: none;
    height: 38px;
    margin-top: 8px;
    border-radius: 5px;
    padding: 0px 30px;
    transition: all .5s;
}

#header-container {
    display: flex;
    justify-content: space-evenly;
    background-image: linear-gradient(to right, #0597ad, #03bcd46b);
    width: 100%;

}

#ul-filho-header {
    display: flex;
    list-style-type: none;
    gap: 50px;
    flex-wrap: wrap;
}

#ul-filho-header>li>a {
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    background-color: #015d6b;
    border-radius: 5px;
    padding: 8px;
    transition: all .5s;
}

#ul-filho-header>li>a:hover {
    background-color: #014750;
}

#logo {
    display: flex;
    height: 51px;
    filter: drop-shadow(1px 1px 0px #00000081);
}

#logo>img {
    padding: 3px;
}

/*-----------------------------apresentação----------------------------------*/

h1 {
    text-shadow: none;
    font-size: 60px;
    margin: 0px;
    background-image: linear-gradient(to right, #43cffa, #55e7fa, #b5eeff, #43cffa);
    background-clip: text;
    color: transparent;
}

h1 > em > span{
    color: white;
}

#apre-container {
    display: flex;
    justify-content: space-around;
    margin: 50px 0px 0px 0px;
    gap: 100px;
    flex-wrap: nowrap;
}

#img-apre>img {
    width: 280px;
    filter: drop-shadow(5px 8px 10px #00000036);
    animation: crescer 2s ease-out;
}

#apre-filho {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 600px;
    height: 100%;
}

#apre-filho>p {
    line-height: 30px;
    white-space: pre-line;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: justify;
    color: #ffffff;
    background-color: #04a6bb83;
    border: 1px solid #3ae8ff;
    box-shadow: 0px 0px 5px 0px #0000004d;
    padding: 10px;
    font-size: 18px;
    border-radius: 15px;
}
#apre-span {
    text-shadow: none;
    font-size: 19px;
    font-style: italic;
    background-image: linear-gradient(to right, #00e1ff, #98f3ff, #98f3ff, #00e1ff);
    background-clip: text;
    color: transparent;
}

footer {
    color: #eafdff;
    padding: 1px;
    text-align: center;
    background-image: linear-gradient(to right, #04a6bb, #04a6bb);
}

/*---------------------------------------keyframe--------------------------------------------------*/

@keyframes move {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: -200%;
    }
}

@keyframes crescer {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

