@charset "UTF8";

body,
html {
    height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-image: linear-gradient(#003d46, #04a6bb);
    /* background-image: url(../imagens/background-ciano.jpg);
     */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    flex: 1;
    box-shadow: inset 0px 0px 6px 0px #000000cc;
    background-image: linear-gradient(#003d46, #04a6bb);
}

section > p{
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 20px;
    line-height: 25px;
    background-image: linear-gradient(45deg,#003a41, #003a41);
    padding: 20px;
    white-space: pre-line;
    font-size: 18px;
    color: #e1fafd;
    animation: crescer 1s ease-out; 
}

/*-------------------header----------------------*/

#burguer {
    display: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    background-color: #002c33;
    border: none;
    height: 38px;
    margin-top: 8px;
    border-radius: 5px;
    padding: 0px 30px;
    transition: all .5s;
}

#header-container {
    display: flex;
    justify-content: space-evenly;
    background-image: linear-gradient(to right, #026e7c00, #00282e, #0283946b, #026e7c23);
    width: 100%;
    border-bottom: 4px solid #026c7a00;
}

#ul-filho-header {
    display: flex;
    list-style-type: none;
    gap: 50px;
    flex-wrap: wrap;
}

#ul-filho-header>li>a {
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    background-color: #002c33;
    border-radius: 5px;
    padding: 8px;
    transition: all .5s;
}

#ul-filho-header>li>a:hover {
    background-color: #003f47;
    box-shadow: 0px 0px 0px 5px #003f47;
}

#logo {
    display: flex;
    height: 51px;
    filter: drop-shadow(3px 3px 0px black);
}

#logo>img {
    padding: 3px;
}

/*-----------------------------apresentação----------------------------------*/

h1 {
    text-shadow: none;
    text-align: center;
    background-image: linear-gradient(to right, #43cffa, #b5eeff, #b5eeff, #43cffa);
    background-clip: text;
    color: transparent;
}

footer {
    color: #a7f5ff;
    padding: 1px;
    text-align: center;
    background-image: linear-gradient(to right, #026e7c00, #00282e, #002429d5, #026e7c23);
}

/*---------------------------------------keyframe--------------------------------------------------*/

@keyframes crescer {
    0% {
        transform: translateY(200px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

